<!DOCTYPE html>

<html>

<head>
  <title>URL Shortener</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <h2>URL Shortener Microservice</h2>
    <p>
      Enter a URL and get a short id.
    </p>
    <form action="api/shorturl/new" method="POST">
      <label for="url_input">URL to be shortened:</label>
      <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org">
      <input type="submit" value="POST URL">
    </form>
    <form id="shortened_url_form" action="api/shorturl/" method="GET">
      <label for="shortenend_url_input">Enter ID:</label>
      <input id="shortenend_url_input" type="text" name="id">
      <input type="submit" value="Visit URL">
    </form>
</body>

</html>